
*{
box-sizing:border-box;
}
body{
background-color: rebeccapurple;
color: white;
font-size: 2rem;
display: flex;
align-items: center;
justify-content: center;
font-family: "Popings", sans-serif;
min-height: 100;
margin-top: 25%;
}